# SQL и API

<h1>Содержание<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Ссылочки" data-toc-modified-id="Ссылочки-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Ссылочки</a></span></li><li><span><a href="#Импорты-и-настройки" data-toc-modified-id="Импорты-и-настройки-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Импорты и настройки</a></span></li><li><span><a href="#SQL" data-toc-modified-id="SQL-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>SQL</a></span><ul class="toc-item"><li><span><a href="#поднимаем-СУБД" data-toc-modified-id="поднимаем-СУБД-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>поднимаем СУБД</a></span><ul class="toc-item"><li><span><a href="#PostgreSQL-в-docker" data-toc-modified-id="PostgreSQL-в-docker-3.1.1"><span class="toc-item-num">3.1.1&nbsp;&nbsp;</span>PostgreSQL в docker</a></span></li><li><span><a href="#SQLight" data-toc-modified-id="SQLight-3.1.2"><span class="toc-item-num">3.1.2&nbsp;&nbsp;</span>SQLight</a></span></li></ul></li><li><span><a href="#настраиваем-соединение" data-toc-modified-id="настраиваем-соединение-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>настраиваем соединение</a></span></li><li><span><a href="#CRUD" data-toc-modified-id="CRUD-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>CRUD</a></span><ul class="toc-item"><li><span><a href="#SQL" data-toc-modified-id="SQL-3.3.1"><span class="toc-item-num">3.3.1&nbsp;&nbsp;</span>SQL</a></span></li><li><span><a href="#ORM" data-toc-modified-id="ORM-3.3.2"><span class="toc-item-num">3.3.2&nbsp;&nbsp;</span>ORM</a></span></li><li><span><a href="#pandas" data-toc-modified-id="pandas-3.3.3"><span class="toc-item-num">3.3.3&nbsp;&nbsp;</span>pandas</a></span></li></ul></li></ul></li><li><span><a href="#API" data-toc-modified-id="API-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>API</a></span></li></ul></div>

## Ссылочки

* [Wiki про нормальзацию БД](https://ru.wikipedia.org/wiki/%D0%9D%D0%BE%D1%80%D0%BC%D0%B0%D0%BB%D1%8C%D0%BD%D0%B0%D1%8F_%D1%84%D0%BE%D1%80%D0%BC%D0%B0):  
![Нормально делай - нормально будет](https://lh3.googleusercontent.com/proxy/xULK1VI7YDLCR_aM8HCegSzibi4SREBhZ7NGoH1NAfBcxcjq_3LRzdA0Gk3vH6R5KLBPnXxOFbQlWiqwSr8ck2tJXPtZZpIhEmqlAJdlRaOxXv_yoSP-o_75jYl_HvDb9n59Fy_GyFPseQ)  

*****

* [DBdesigner](https://www.dbdesigner.net/) - удобный сервис для рисования ER-схем и получения SQL для создания базы из схемы (бесплатные возможности ограничены, но присутствуют).
* [DBeaver](https://dbeaver.io/) - браузер БД. Работает со множеством СУБД, есть бесплатная версия.  
* [SQL на W3Schools](https://www.w3schools.com/sql/) - я считал, что это прям от [W3C](https://www.w3.org/Consortium/), но оказалось что они 
> *derives its name from the World Wide Web (WWW) but is not affiliated with the W3C*  

но всё равно это больше про SQL вообще, а не про конкретные СУБД.  

* [SQLAlchemy](https://www.sqlalchemy.org/) - главный пакет для работы с БД в python.  
* [FastAPI](https://fastapi.tiangolo.com/) - модный-молодёжный пакет для создания API на python ([забавная ситуация](https://mobile.twitter.com/tiangolo/status/1281946592459853830) с ним гуляла в мемах)  
* [Оконные функции в SQL](https://tproger.ru/translations/sql-window-functions/)

## Импорты и настройки

In [ ]:
import pandas as pd
import numpy as np

import sqlite3

from sqlalchemy import create_engine  
from sqlalchemy import Table, Column, String, Integer, MetaData
from sqlalchemy.ext.declarative import declarative_base  
from sqlalchemy.orm import sessionmaker

import requests
# from IPython.core.display import HTML
import re

## SQL

### поднимаем СУБД

* К вопросу об алиасах колонок в WHERE: [пруф 1](https://www.ibm.com/support/producthub/db2/docs/content/SSEPGG_11.5.0/com.ibm.db2.luw.apdv.porting.doc/doc/r_sql_compat_where.html), [пруф 2](https://documentation.sas.com/?cdcId=pgmsascdc&cdcVersion=9.4_3.5&docsetId=sqlproc&docsetTarget=n0jxri3yohqdwbn1slekmsc882gz.htm&locale=en)  
* оконные функции - это как `groupby().transform()`, или как `.rolling()` и `.expanding()`, а еще полезно для `argmax` и `argmin`

#### PostgreSQL в docker

* [PostgreSQL на DockerHub](https://hub.docker.com/_/postgres)  
* [Про docker](https://docs.docker.com/)

In [ ]:
# !docker run --name test-postgres -e POSTGRES_PASSWORD=qwerty -e POSTGRES_USER=example -p 54320:5432 -d --rm postgres

Глушить так:

In [ ]:
# !docker stop test-postgres

#### SQLight

In [ ]:
conn = sqlite3.connect('sqlite_example.db') # создали базу

conn.close() # сразу закрыли соединение

А потом можно просто удалить файл:

In [ ]:
# !rm sqlite_example.db

### настраиваем соединение

In [ ]:
postgres_conn_string = "postgres://example:qwerty@localhost:54320/example"

In [ ]:
sqlight_conn_string = "sqlite:///sqlite_example.db"

In [ ]:
db = create_engine(sqlight_conn_string) # postgres_conn_string sqlight_conn_string

### CRUD  
[Wiki](https://ru.wikipedia.org/wiki/CRUD)

#### SQL

In [ ]:
# Create: создание таблицы  
result = db.execute('''CREATE TABLE "items" ("id" int, "name" TEXT, "value" int) ;''')

Нагенерим код из ER-таблицы!

In [ ]:
# Create: создание записи 
result = db.execute("INSERT INTO items (name, value) VALUES ('some', 42);")

In [ ]:
# Read
result = db.execute("SELECT * FROM items;")  

for row in result:  
    print(row)

(None, 'some', 42)

In [ ]:
# Update: обновление записи
result = db.execute("UPDATE items SET name='other' WHERE value=42;")

In [ ]:
# Delete: удаление записи
result = db.execute("DELETE FROM items WHERE name='other';")

In [ ]:
# Delete: удаление таблицы
result = db.execute("DROP TABLE items;")

#### ORM

[Wiki](https://ru.wikipedia.org/wiki/ORM)

In [ ]:
Base = declarative_base()

class Item(Base):  
    __tablename__ = 'items'
    item_id = Column(Integer, primary_key=True)
    name = Column(String)
    value = Column(Integer)

In [ ]:
Session = sessionmaker(db)  
session = Session()

In [ ]:
# Create: создание таблицы 
Base.metadata.create_all(db)

In [ ]:
# Create: создание записи
some_item = Item(name="some", value=42)  
session.add(some_item)  
session.commit()

In [ ]:
some_item.item_id

1

In [ ]:
# Read
items = session.query(Item)  
for item in items:  
    print(item.item_id, item.name, item.value)

1 some 42

In [ ]:
# Update
some_item.name = 'other' 
session.commit()

In [ ]:
# Delete: удаление записи
session.delete(some_item)  
session.commit()

In [ ]:
# Delete: удаление таблицы
Item.__table__.drop(db)

#### pandas

In [ ]:
item_df = pd.DataFrame({
    'name': ['some', 'other'],
    'value': [1, 2]
})

item_df

    name  value
0   some      1
1  other      2

In [ ]:
# Create 
item_df.to_sql(
    name='items', # название таблицы
    con=db, # подключение к базе. conn_string или engine
    if_exists='fail', # 'fail', 'replace' или 'append'
    index=True
)

In [ ]:
# Read
item_df = pd.read_sql_table('items', con=db)

item_df

   index   name  value
0      0   some      1
1      1  other      2

In [ ]:
# Read
item_df = pd.read_sql_query('SELECT * FROM items', con=db)

item_df

   index   name  value
0      0   some      1
1      1  other      2

In [ ]:
# Read
item_df = pd.read_sql('SELECT * FROM items', con=db)

item_df

   index   name  value
0      0   some      1
1      1  other      2

In [ ]:
# ~ Update 
item_df.loc[0, 'value'] = 42

item_df

   index   name  value
0      0   some     42
1      1  other      2

In [ ]:
item_df.to_sql(
    name='items', # название таблицы
    con=db, # подключение к базе. conn_string или engine
    if_exists='replace', # 'fail', 'replace' или 'append'
    index=True
)

## API

Игрушечное API построено на базе [вот этого примера](https://fastapi.tiangolo.com/tutorial/sql-databases/) из доки FastAPI.  

Запускаем так:

In [ ]:
%%bash --bg  
cd easy_api
uvicorn main:app

И идем на [127.0.0.1:8000](http://127.0.0.1:8000/)

*Глушить так: ищем номер процесса, и убиваем*

In [ ]:
# !ps -eaf | grep "uvicorn main:app"

In [ ]:
# !kill 2865

In [ ]:
URL = "http://127.0.0.1:8000/api/add_item/"

In [ ]:
# GET params
response = requests.get(URL, params={'name': 'some', 'value': 1})

# HTML(response.text) # так CSS из response'а сломает вид Jupyter'а (см. запись вебинара)
re.search(r'<b>.*</b>', response.text).group()

'<!DOCTYPE html>\n<html>\n  <head>\n    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">\n    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />\n  </head>\n  <body>\n\n    <h2>Успешно!</h2><p><b>Создан Item c ID 1</b></p>\n\n    <br><br>\n    <h4>Ссылки:</h4>\n    <ul>\n      <li><a href="/">Главная</a></li>\n      <li><a href="/docs">Документация в формате OpenAPI</a></li>\n      <li><a href="/redoc">Документация в формате ReDoc</a></li>\n      <li><a href="/form/">Форма для добавления Items</a></li>\n      <li><a href="/items/">Просмотр всех Items</a></li>\n    </ul>\n    \n\n    \n    \n  </body>\n</html>'

In [ ]:
# то же самое в теле запроса (но наше API так не работает)
response = requests.post(URL, data={'name': 'some', 'value': 1})

response.status_code

422

In [ ]:
response.text

'{"detail":[{"loc":["body",0],"msg":"Expecting value: line 1 column 1 (char 0)","type":"value_error.jsondecode","ctx":{"msg":"Expecting value","doc":"name=some&value=1","pos":0,"lineno":1,"colno":1}}]}'

In [ ]:
response.request.body

'name=some&value=1'

In [ ]:
# POST с JSON'ом
response = requests.post(URL, json={'name': 'other', 'value': 2})

response.json()

{'name': 'other', 'value': 2, 'id': 2}

In [ ]:
# не нормальный df, но удобный для аналитики
df = pd.DataFrame({'user': [1,1,1,1], 'order': [1,1,2,2], 'product': [1,2,3,4]})

df

In [ ]:
df['user'].nunique()

In [ ]:
df.groupby(['user'])['product'].nunique()